<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>Posts</h2>
                <a href="/"><button class="btn">Back to home</button></a>
                <a href="/scrape"><button class="btn">Scrape!</button></a>
                {{#each datos}}
                <div class="card">
                    <div class="card-body">
                        <h1>{{title}}</h1>
                        <h3>{{excerpt}}</h3>
                        <h4>{{link}}</h4>
                        <br>
                        <button class="btn addNote">Notes</button>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/app.js"></script>